@font-face {
    font-family: 'arenoregular';
    src: url('../components/fonts/Areno.otf') format('woff2'),
         url('../components/fonts/areno.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-serif: kings-caslon-display, serif;
    --font-sans-serif: prohibition, sans-serif;
    --font-headings: arenoregular, Arial, sans-serif;
    --black: #000;
    --grey-light: #c4c6c8;
    --greay-dark: #777372;
    --white: #fff;
    --blue: #006391;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
 
body {
    font-family: var(--font-serif);
    line-height: 1.4;
    font-size: 110%;
    text-align: center;
}

img {
    border: solid .5px grey; 
}

.component__code {
    border: solid .5px grey;
}
.nav {
    font-family: var(--font-serif);
    color: var(--blue);
    list-style: none;
    font-style: italic;
    font-size: 110%;
    text-align:left;
}
h2 {
    background-color: var(--grey-light);
    padding: 5px;
}
h3 {
    color: var(--grey-light);
    background-color: var(--blue);
    padding: 5px;
}

.story {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    text-align: center;
}
.story__footer {
    font-family: var(--font-serif);
    color: var(--grey-light);
    font-style: italic;
    text-align: center;
    letter-spacing: -.5px;

}
a {
    text-decoration: none;
    display: inline-block;
    background-color: var(--blue);
    padding: 20px;
}
.footer__text {
    font-family: var(--font-headings);
}
.body__text {
    font-family: var(--font-headings);
    color: var(--blue);
    letter-spacing: 1px;
    font-size: 110%;
}
.button {
    font-family: var(--font-headings);
    color: var(--white);
    background-color: var(--blue);
    border: solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    font-size: 110%;
    margin: 2px;
}
.component__footer {
    background-color: var(--blue);
    color: var(--white);
    letter-spacing: 2px;
    font-size: 110%;
}