<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>1017 Gin | Web Components</title>
    <link rel="stylesheet" href="https://use.typekit.net/byl3xsg.css">
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
  </head>

  <body>
      <h1>1017 Gin Web Components</h1>
      <h2>Typography Defaults</h2>
      <article class="component">
        <h3>body</h3>
        <img
            srcset="img/body.png 2x"
            src="img/body.png" alt="body copy screenshot">
        <div class="component__code">
            <p class="body__copy">
                1017 is a unique gin experience with a wink toward sipping, and a definite nod for mixing. It’s the quintessential companion for any journey, and all roads traveled.
            </p>
        </div>
    </article>
  </body>