<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>1017 Gin | Web Components</title>
    <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="https://use.typekit.net/byl3xsg.css">
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
  </head>

  <body>
      <h1>1017 Gin Web Components</h1>
      <h2>Typography Defaults</h2>
      <article class="component">
        <h3>body</h3>
        <img
            srcset="img/body.png 2x"
            src="img/body.png" alt="body copy screenshot">
        <div class="component__code">
            <p class="body__copy">
                1017 is a unique gin experience with a wink toward sipping, and a definite nod for mixing. It’s the quintessential companion for any journey, and all roads traveled.
            </p>
        </div>
    </article>

    <article class="component">
        <h3>nav bar</h3>
        <img
            srcset="img/nav-light.png 2x"
            src="img/nav-light.png" alt="navigation light screenshot">
        <div class="component__code">
            <ul class="nav">
                <li>Story</li>
                <li>Process</li>
                <li>Featured Recipe</li>
                <li>Contact Us</li>
                <li>Buy Now</li>
            </ul>
        </div>
    </article>

    <article class="component">
        <h3 class="headings">headings</h3>
        <img
            srcset="img/heading.png 2x"
            src="img/heading.png" alt="heading screenshot">
        <div class="component__code">
            <h4>Elevate Your Spirits...Thoughtfully</h4>
        </div>
    </article>

    <article class="component">
        <img
            srcset="img/heading_2.png 2x"
            src="img/heading_2.png" alt="heading screenshot">
        <div class="component__code">
            <p class="story">Story</p>
            <h4>It Started in the barn as questions</h4>
        </div>
    </article>

    <article class="component">
        <h3 class="headings">footer</h3>
        <img
            srcset="img/buttons.png 2x"
            src="img/buttons.png" alt="buttons screenshot">
        <div class="component__code">
            <a href="#!"><h4 class="buttons">Wholesale</h4></a>
            <a href="#!"><h4 class="buttons">Individuals</h4></a>
        </div>
    </article>
  </body>