:root {
    --font-serif: kings-caslon-display, serif;
    --font-sans-serif: prohibition, sans-serif;
    --black: #000;
    --grey: #c4c6c8;
    --white: #fff;
    --blue: #006391;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: var(--font-serif);
    line-height: 1.4;
}

img {
    border: solid .5px grey; 
}

.component__code {
    border: solid .5px grey;

}
.nav {
    font-family: var(--font-serif);
    color: var(--blue);
    list-style: none;
    font-style: italic;
    font-size: 120%;

}